<!DOCTYPE html>
<html ng-app="fileBrowserApp">

<head>
  <meta charset="utf-8">
  <title>Web Based File Browser with jsTree, Angularjs and Expressjs</title>

  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/jstree/themes/default/style.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

  <script src="/libs/angular/angular.min.js"></script>
  <script src="/libs/angular-route/angular-route.min.js"></script>

  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/jstree/jstree.min.js"></script>

  <script src="/libs/jstree-directive/jsTree.directive.js"></script>

  <script src="/js/app.js"></script>
  <script type="text/javascript" src="/js/factory.js"></script>
  <script src="/js/controllers.js"></script>

  <!-- Code Mirror dependencies -->
<link rel=stylesheet href="codemirror/doc/docs.css">

<link rel="stylesheet" href="codemirror/lib/codemirror.css">
<link rel="stylesheet" href="codemirror/theme/3024-day.css">
<link rel="stylesheet" href="codemirror/theme/3024-night.css">
<link rel="stylesheet" href="codemirror/theme/abcdef.css">
<link rel="stylesheet" href="codemirror/theme/ambiance.css">
<link rel="stylesheet" href="codemirror/theme/base16-dark.css">
<link rel="stylesheet" href="codemirror/theme/bespin.css">
<link rel="stylesheet" href="codemirror/theme/base16-light.css">
<link rel="stylesheet" href="codemirror/theme/blackboard.css">
<link rel="stylesheet" href="codemirror/theme/cobalt.css">
<link rel="stylesheet" href="codemirror/theme/colorforth.css">
<link rel="stylesheet" href="codemirror/theme/dracula.css">
<link rel="stylesheet" href="codemirror/theme/eclipse.css">
<link rel="stylesheet" href="codemirror/theme/elegant.css">
<link rel="stylesheet" href="codemirror/theme/erlang-dark.css">
<link rel="stylesheet" href="codemirror/theme/hopscotch.css">
<link rel="stylesheet" href="codemirror/theme/icecoder.css">
<link rel="stylesheet" href="codemirror/theme/isotope.css">
<link rel="stylesheet" href="codemirror/theme/lesser-dark.css">
<link rel="stylesheet" href="codemirror/theme/liquibyte.css">
<link rel="stylesheet" href="codemirror/theme/material.css">
<link rel="stylesheet" href="codemirror/theme/mbo.css">
<link rel="stylesheet" href="codemirror/theme/mdn-like.css">
<link rel="stylesheet" href="codemirror/theme/midnight.css">
<link rel="stylesheet" href="codemirror/theme/monokai.css">
<link rel="stylesheet" href="codemirror/theme/neat.css">
<link rel="stylesheet" href="codemirror/theme/neo.css">
<link rel="stylesheet" href="codemirror/theme/night.css">
<link rel="stylesheet" href="codemirror/theme/paraiso-dark.css">
<link rel="stylesheet" href="codemirror/theme/paraiso-light.css">
<link rel="stylesheet" href="codemirror/theme/pastel-on-dark.css">
<link rel="stylesheet" href="codemirror/theme/railscasts.css">
<link rel="stylesheet" href="codemirror/theme/rubyblue.css">
<link rel="stylesheet" href="codemirror/theme/seti.css">
<link rel="stylesheet" href="codemirror/theme/solarized.css">
<link rel="stylesheet" href="codemirror/theme/the-matrix.css">
<link rel="stylesheet" href="codemirror/theme/tomorrow-night-bright.css">
<link rel="stylesheet" href="codemirror/theme/tomorrow-night-eighties.css">
<link rel="stylesheet" href="codemirror/theme/ttcn.css">
<link rel="stylesheet" href="codemirror/theme/twilight.css">
<link rel="stylesheet" href="codemirror/theme/vibrant-ink.css">
<link rel="stylesheet" href="codemirror/theme/xq-dark.css">
<link rel="stylesheet" href="codemirror/theme/xq-light.css">
<link rel="stylesheet" href="codemirror/theme/yeti.css">
<link rel="stylesheet" href="codemirror/theme/zenburn.css">
<script src="codemirror/lib/codemirror.js"></script>
<script src="codemirror/mode/javascript/javascript.js"></script>
<script src="codemirror/addon/selection/active-line.js"></script>
<script src="codemirror/addon/edit/matchbrackets.js"></script>
<style type="text/css">
      .CodeMirror {border: 1px solid black; font-size:13px}
    </style>

    <!-- Code Mirror dependencies end -->

</head>

<body class="container">
  <h1>File Browser App  <p class="pull-right"><a href="http://thejackalofjavascript.com/file-browser-with-jstree-angularjs-and-expressjs" target="_blank" class="btn btn-info">Tutorial</a></p></h1>
  <div class="clearfix"></div>
  <hr>
  <ng-view></ng-view>

  <!-- Live reload script -->
  <!-- <script type="text/javascript" src="http://localhost:35729/livereload.js"></script> -->

</body>

</html>
