<!DOCTYPE html>
<html>
  <head>
	  <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>
<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><%= title %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
<!-- 
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
         -->
        <li><a href="/main">Main Page</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= userId %></a></li>
        <li><a href="/<%= logger %>"><span class="glyphicon glyphicon-log-in"></span> <%= logger %></a></li>
      </ul>
    </div>
  </div>
</nav>
  <!-- upper navigation bar -->


    <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<p>
		지금 보시는 페이지는 프로젝트의 view 폴더 내의 index.ejs 파일에 지정되어 있는 Embedded javascript 타입의 HTML 문서입니다.
		달리 말해, 관련 스크립트(/routes/index.js)에 의해 랜더링 된 (/views/index.ejs)파일입니다.
		관련 로직을 변경하시려면 /routes/index.js 파일을 변경하시면 됩니다.
		
		이 페이지 윗부분은 Express 프레임워크에서 자동으로 생성해주는 인덱스 페이지이며, 아랫부분은 제가 직접 작성한 부분입니다.
		일단 세션 로그인을 구현하기 위해서는 로그인 페이지가 있어야 합니다.
		</p>
		<br>
		<a href="/login">로그인 페이지로 가기</a><br>
		<a href="/users">유저 페이지로 가기</a><br>
		<a href="/main">메인 페이지로 가기(로그인한 유저만 가능)</a>

	</div>
	<!-- div.container ends-->

	<!-- jQuery -->
    <script src="js/jquery-2.2.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
