<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Code Mirror dependencies -->
<link rel=stylesheet href="codemirror/doc/docs.css">

<link rel="stylesheet" href="codemirror/lib/codemirror.css">
<link rel="stylesheet" href="codemirror/theme/3024-day.css">
<link rel="stylesheet" href="codemirror/theme/3024-night.css">
<link rel="stylesheet" href="codemirror/theme/abcdef.css">
<link rel="stylesheet" href="codemirror/theme/ambiance.css">
<link rel="stylesheet" href="codemirror/theme/base16-dark.css">
<link rel="stylesheet" href="codemirror/theme/bespin.css">
<link rel="stylesheet" href="codemirror/theme/base16-light.css">
<link rel="stylesheet" href="codemirror/theme/blackboard.css">
<link rel="stylesheet" href="codemirror/theme/cobalt.css">
<link rel="stylesheet" href="codemirror/theme/colorforth.css">
<link rel="stylesheet" href="codemirror/theme/dracula.css">
<link rel="stylesheet" href="codemirror/theme/eclipse.css">
<link rel="stylesheet" href="codemirror/theme/elegant.css">
<link rel="stylesheet" href="codemirror/theme/erlang-dark.css">
<link rel="stylesheet" href="codemirror/theme/hopscotch.css">
<link rel="stylesheet" href="codemirror/theme/icecoder.css">
<link rel="stylesheet" href="codemirror/theme/isotope.css">
<link rel="stylesheet" href="codemirror/theme/lesser-dark.css">
<link rel="stylesheet" href="codemirror/theme/liquibyte.css">
<link rel="stylesheet" href="codemirror/theme/material.css">
<link rel="stylesheet" href="codemirror/theme/mbo.css">
<link rel="stylesheet" href="codemirror/theme/mdn-like.css">
<link rel="stylesheet" href="codemirror/theme/midnight.css">
<link rel="stylesheet" href="codemirror/theme/monokai.css">
<link rel="stylesheet" href="codemirror/theme/neat.css">
<link rel="stylesheet" href="codemirror/theme/neo.css">
<link rel="stylesheet" href="codemirror/theme/night.css">
<link rel="stylesheet" href="codemirror/theme/paraiso-dark.css">
<link rel="stylesheet" href="codemirror/theme/paraiso-light.css">
<link rel="stylesheet" href="codemirror/theme/pastel-on-dark.css">
<link rel="stylesheet" href="codemirror/theme/railscasts.css">
<link rel="stylesheet" href="codemirror/theme/rubyblue.css">
<link rel="stylesheet" href="codemirror/theme/seti.css">
<link rel="stylesheet" href="codemirror/theme/solarized.css">
<link rel="stylesheet" href="codemirror/theme/the-matrix.css">
<link rel="stylesheet" href="codemirror/theme/tomorrow-night-bright.css">
<link rel="stylesheet" href="codemirror/theme/tomorrow-night-eighties.css">
<link rel="stylesheet" href="codemirror/theme/ttcn.css">
<link rel="stylesheet" href="codemirror/theme/twilight.css">
<link rel="stylesheet" href="codemirror/theme/vibrant-ink.css">
<link rel="stylesheet" href="codemirror/theme/xq-dark.css">
<link rel="stylesheet" href="codemirror/theme/xq-light.css">
<link rel="stylesheet" href="codemirror/theme/yeti.css">
<link rel="stylesheet" href="codemirror/theme/zenburn.css">
<script src="codemirror/lib/codemirror.js"></script>
<script src="codemirror/mode/javascript/javascript.js"></script>
<script src="codemirror/addon/selection/active-line.js"></script>
<script src="codemirror/addon/edit/matchbrackets.js"></script>
<style type="text/css">
      .CodeMirror {border: 1px solid black; font-size:13px}
    </style>

    <!-- Code Mirror dependencies end -->
   

</head>

<body>
<!-- upper navigation bar starts-->
<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><%= title %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>

        <li class="active"><a href="/main">Main Page</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= userId %></a></li>
        <li><a href="/<%= logger %>"><span class="glyphicon glyphicon-log-in"></span> <%= logger %></a></li>
      </ul>
    </div>
  </div>
</nav>
  <!-- upper navigation bar ends -->

<div class="container">

    <div id="wrapper" style="padding-left:0px">

        <!-- Sidebar wrapper -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="/">Index</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/users">User</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper ends-->


        <!-- Page Content -->
        <div id="page-content-wrapper">


        <!-- page-content-wrapper와 container-fluid 사이 -->
            <div class="container-fluid">
           <!--  container-fluid와 row의 사이 -->
                <div class="row">
                <!-- row와 col-lg-12의 사이 -->
                    <div class="col-lg-12">


<div class="container">
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a><br><br>
<!-- side bar toggle button -->

<!-- contents starts-->
<div id="content">

    <!-- Clickable taps list -->
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#red" data-toggle="tab">File Manager</a></li>
        
        <li><a href="#blue" data-toggle="tab">Tetris</a></li>
    </ul>
    <!-- Clickable taps list ends -->

    <!-- tap contents starts -->
    <div id="my-tab-content" class="tab-content">

        <!-- First tap contents starts -->
        <div class="tab-pane active" id="red">
            <h1>Code Editing Page</h1>
            <p>소스코드를 웹에서 간단하게 수정하고 저장할 수 있습니다.</p>

 

                <!-- <article> -->
                <h2>파일이름 나올 부분</h2>
                <form><textarea id="code" name="code">
                function findSequence(goal) {
                  function find(start, history) {
                    if (start == goal)
                      return history;
                    else if (start > goal)
                      return null;
                    else
                      return find(start + 5, "(" + history + " + 5)") ||
                             find(start * 3, "(" + history + " * 3)");
                  }
                  return find(1, "1");
                }</textarea></form>

                <p>Select a theme: <select onchange="selectTheme()" id="select">
                    <option selected>default</option>
                    <option>3024-day</option>
                    <option>3024-night</option>
                    <option>abcdef</option>
                    <option>ambiance</option>
                    <option>base16-dark</option>
                    <option>base16-light</option>
                    <option>bespin</option>
                    <option>blackboard</option>
                    <option>cobalt</option>
                    <option>colorforth</option>
                    <option>dracula</option>
                    <option>eclipse</option>
                    <option>elegant</option>
                    <option>erlang-dark</option>
                    <option>hopscotch</option>
                    <option>icecoder</option>
                    <option>isotope</option>
                    <option>lesser-dark</option>
                    <option>liquibyte</option>
                    <option>material</option>
                    <option>mbo</option>
                    <option>mdn-like</option>
                    <option>midnight</option>
                    <option>monokai</option>
                    <option>neat</option>
                    <option>neo</option>
                    <option>night</option>
                    <option>paraiso-dark</option>
                    <option>paraiso-light</option>
                    <option>pastel-on-dark</option>
                    <option>railscasts</option>
                    <option>rubyblue</option>
                    <option>seti</option>
                    <option>solarized dark</option>
                    <option>solarized light</option>
                    <option>the-matrix</option>
                    <option>tomorrow-night-bright</option>
                    <option>tomorrow-night-eighties</option>
                    <option>ttcn</option>
                    <option>twilight</option>
                    <option>vibrant-ink</option>
                    <option>xq-dark</option>
                    <option>xq-light</option>
                    <option>yeti</option>
                    <option>zenburn</option>
                </select>
                </p>

                <!-- </article> -->

        </div>
        <!-- First tap contents ends -->


        <!-- Second tap contents starts -->
        <div class="tab-pane" id="blue">
            <h1>Tetris page!!</h1>
            <p>blue blue blue blue blue</p>
        </div>
        <!-- Second tap contents ends -->
    </div>
    <!-- tap contents ends -->

</div>
<!-- div id="contents" ends -->



-----------------------탭부분 끝남!----------------
                    
                        

                    </div><!-- div class:container ends -->

                </div><!-- div class:col-lg-12 ends -->
            </div><!-- class:row ends -->
        </div><!-- div class:container-fluid ends -->


    

    </div><!-- div class:page-content-wrapper ends-->
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery-2.2.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <!-- Tabs Toggle Script -->
    <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
    </script> 

     <!-- code mirror scripts -->
    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        styleActiveLine: true,
        matchBrackets: true
      });
      var input = document.getElementById("select");
      function selectTheme() {
        var theme = input.options[input.selectedIndex].textContent;
        editor.setOption("theme", theme);
        location.hash = "#" + theme;
      }
      var choice = (location.hash && location.hash.slice(1)) ||
                   (document.location.search &&
                    decodeURIComponent(document.location.search.slice(1)));
      if (choice) {
        input.value = choice;
        editor.setOption("theme", choice);
      }
      CodeMirror.on(window, "hashchange", function() {
        var theme = location.hash.slice(1);
        if (theme) { input.value = theme; selectTheme(); }
      });
    </script>
    <!-- code mirror scripts -->

</div> <!-- end of upper navigation bar container -->
</body>

</html>
