body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div.sessionBar {
	background-color: #00c8ff;
	padding: 5px;
	font-weight: bold;
	text-align: right;
}
div.sessionBar a {
	color: #ffffff;
	text-decoration: none;
}